In [1]:
import os
import pandas as pd

In [12]:
world_df= pd.read_csv("../Resources/owid-covid-data.csv")


updated_world_df=world_df.drop(["iso_code", "total_cases", "new_cases","new_deaths_per_million","total_tests","new_tests",
                                "new_tests_smoothed_per_thousand","population","median_age","aged_70_older",
                                "extreme_poverty","diabetes_prevalence","female_smokers","male_smokers",
                               "handwashing_facilities","hospital_beds_per_thousand","life_expectancy",
                               "new_tests_smoothed","new_tests_per_thousand","tests_units","total_deaths",
                               "new_deaths","total_cases_per_million","new_cases_per_million"], axis=1)

updated_world_df=updated_world_dfupdated_world_df=updated_world_df.rename(columns={"location":"Country", "continent":"Continet","date":"Date",
                                                  "total_deaths_per_million":"Total Deaths Per Million",
                                                  "total_tests_per_thousand":"Total Test Per Thousands",
                                                 "population_density":"Population Density","aged_65_older":"Aged 65 or older",
                                                 "gdp_per_capita":"GDP Per Capita","cvd_death_rate":"Covid Death Rate",
                                                 "stringency_index":"Stringency Index"})

updated_world_df.fillna(0, inplace=True)

updated_world_df.head()

,Continet,Country,Date,Total Deaths Per Million,Total Test Per Thousands,Stringency Index,Population Density,Aged 65 or older,GDP Per Capita,Covid Death Rate
0,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,54.422,2.581,1803.987,597.029
1,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,54.422,2.581,1803.987,597.029
2,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,54.422,2.581,1803.987,597.029
3,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,54.422,2.581,1803.987,597.029
4,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,54.422,2.581,1803.987,597.029

In [11]:
data = pd.read_csv("../Resources/data.csv")

who_df = data.iloc[data.groupby("Country")["Year"].agg(pd.Series.idxmax)]
who_df.reset_index(drop=True).set_index("Country")
who_df=who_df.rename(columns={"Hospital beds (per 10 000 population)":"Hospital Beds (per 10K people)"})
                                                       
who_df.head()

                Country  Year  Hospital Beds (per 10K people)
0           Afghanistan  2015                               5
16              Albania  2013                              29
29              Algeria  2015                              19
31               Angola  2005                               8
32  Antigua and Barbuda  2014                              38

In [13]:
smokingdata = pd.read_csv("../Resources/smokingdata.csv")

clean_smoking_data = smokingdata.drop(["Estimate of current cigarette smoking prevalence (%).1", "Estimate of current cigarette smoking prevalence (%).2", "Estimate of current tobacco smoking prevalence (%)", "Estimate of current tobacco smoking prevalence (%).1", "Estimate of current tobacco smoking prevalence (%).2", "Estimate of current tobacco use prevalence (%)", "Estimate of current tobacco use prevalence (%).1", "Estimate of current tobacco use prevalence (%).2"], axis=1)
clean_smoking_data=clean_smoking_data.rename(columns={"Estimate of current cigarette smoking prevalence (%)":"Smoking Prevalence (%)"})
smoking_data = clean_smoking_data.drop(0, axis = 0)
smoking_data.head(20)

smoking_prevalence=list(smoking_data["Smoking Prevalence (%)"])
smoking_percentage=[]

for x in smoking_prevalence:
    y=x.split("[")
    smoking_percentage.append(y[0])
    
column_values = pd.Series(smoking_percentage)
smoking_data.insert(loc=2, column="Smoking Percetage", value=column_values)
smoking_df=smoking_data.drop(["Smoking Prevalence (%)"], axis=1)

smoking_df.head()

   Country    Year Smoking Percetage
1  Albania  2018.0            24.40
2  Albania  2016.0            24.80
3  Albania  2014.0            25.20
4  Albania  2012.0            25.80
5  Albania  2010.0            26.20

In [14]:
world_df=pd.read_csv("../Resources/dsh_simple.csv")

world_df=world_df[["Countryname","IfclosedduetoCOVID19whend","Statusof Schoolsaresomeall (copy) (group)",
          "Latitude (generated)","Longitude (generated)","Incomelevelname"]]
income_level_df=world_df.rename(columns={"Countryname":"Country", "Latitude (generated)":"Latitude", 
                      "Longitude (generated)": "Longitude", "Incomelevelname": "Income_Level"})
income_df=income_level_df.drop(["IfclosedduetoCOVID19whend","Statusof Schoolsaresomeall (copy) (group)"], axis =1)

income_df.head()

         Country  Latitude  Longitude         Income_Level
0        Eritrea   15.9820    38.0200           Low income
1  Guinea-Bissau   12.1910   -14.4750           Low income
2     San Marino   43.9420    12.4611          High income
3        Georgia   42.0500    43.5760  Upper middle income
4          Italy   44.3713    11.1084          High income

In [15]:
combined_df=pd.merge(updated_world_df,who_df,on="Country",how="left").merge(smoking_df,on="Country",how="left" ).merge(income_df,on="Country",how="left")
combined_df.head()

,Continet,Country,Date,Total Deaths Per Million,Total Test Per Thousands,Stringency Index,Population Density,Aged 65 or older,GDP Per Capita,Covid Death Rate,Year_x,Hospital Beds (per 10K people),Year_y,Smoking Percetage,Latitude,Longitude,Income_Level
0,Asia,Afghanistan,2019-12-31,0.0,0.0,0.0,54.422,2.581,1803.987,597.029,2015.0,5.0,NaN,NaN,34.023,65.5267,Low income
1,Asia,Afghanistan,2020-01-01,0.0,0.0,0.0,54.422,2.581,1803.987,597.029,2015.0,5.0,NaN,NaN,34.023,65.5267,Low income
2,Asia,Afghanistan,2020-01-02,0.0,0.0,0.0,54.422,2.581,1803.987,597.029,2015.0,5.0,NaN,NaN,34.023,65.5267,Low income
3,Asia,Afghanistan,2020-01-03,0.0,0.0,0.0,54.422,2.581,1803.987,597.029,2015.0,5.0,NaN,NaN,34.023,65.5267,Low income
4,Asia,Afghanistan,2020-01-04,0.0,0.0,0.0,54.422,2.581,1803.987,597.029,2015.0,5.0,NaN,NaN,34.023,65.5267,Low income